:root {
    font-size: 15;

    --ff-lexend: 'Lexend Deca', sans-serif;;
    --ff-bigshoulder: 'Big Shoulders Display', cursive;

/* ### Primary */

    --Bright-orange: 31, 77%, 52%;
    --Dark-cyan: 184, 100%, 22%;
    --Very-dark-cyan: 179, 100%, 13%;

/* ### Neutral */

    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);

    --color-text: var(--Transparent-white);
    --color-bg-head-btn:  var(--Very-light-gray);

    --color-sedan: hsl(var(--Bright-orange));
    --color-suv: hsl(var(--Dark-cyan));
    --color-luxury: hsl(var(--Very-dark-cyan));
}

*, *::before, *::after{
    box-sizing: border-box;
}

body {
    font-family: var(--ff-lexend);
    margin: 0;
    min-height: 100vh;
    display: flex;
    background: var(--color-bg-head-btn);
    color: var(--color-text);
}

.container {
    margin: auto;
    display: flex;
    width: 70%;
    border-radius: 10px;
    overflow: hidden;
}

.car {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.car-sedan {
    background-color: var(--color-sedan);
}

.car-suv {
    background-color: var(--color-suv);
}

.car-luxury {
    background-color: var(--color-luxury);
}

.car-name {
    font-size: 2rem;
    font-family: var(--ff-bigshoulder);
    color: var(--color-bg-head-btn);
}

.car-description {
    line-height: 2;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 30px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.1s linear,color 0.1s linear,border-color 0.1s linear;
}

.btn:hover {
    background-color: transparent;
    border-color: white;
    color: var(--color-text);
}

.btn-sedan{
    color: var(--color-sedan);
}

.btn-suv {
    color: var(--color-suv);
}

.btn-luxury {
    color: var(--color-luxury);
}

@media (max-width:1000px) {
    .container{
        width: 90%;
    }
}
@media (max-width:600px) {
    .container{
        width: 70%;
        flex-direction: column;
    }
}
@media (max-width:375px) {
    .container{
        width: 90%;
        flex-direction: column;
    }
}